@import url(../reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;0,900;1,300;1,800&display=swap');


/**/
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.nav{
    width: 100%;
    border: 1px solid rgba(30,29,29,.45);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

.rad-icon {
    display: flex;
    align-items: center;
   font-weight: 800;
   font-style: italic;
   font-size: 19px;
   color: black;
}

.rad-icon span {
    font-weight: 300;
    font-style: italic;
    margin-left: 3px;
}

.nav-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}

.nav-list__link{
    font-size: 16px;
    color: rgba(30,29,29,.45);
    font-weight: 600;
    transition: color .2s ease;
}

.nav-list__link:hover {
    color: rgb(0, 0, 0);
}

.btn{
    background-color: #f2f2f2;
    border-radius: 0.375rem;
    display: inline-block;
    padding: 0.8125rem 1rem;
    font-weight: 600;
}

.header{
    position: relative;
    height: 695px;
}

.header__bg {
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: 1;
}

.header__name {
    display: inline-block;
    text-shadow: 0 27px 64px rgb(225 184 0 / 64%);
    line-height: 78px;
    margin-top: 180px;
    margin-left: 6px;
    text-transform: uppercase;
    font-size: 75px;
    background: linear-gradient(257.5deg, #f96918 -7.46%,#ffb800 74.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-shadow: 0 1.6875rem 4rem rgb(225 184 0 / 64%);
}

.header__description {
    max-width: 40vw;
    font-size: 30px;
    margin-top: 64px;
    line-height: 29px;
    color: rgba(3,3,3,.45);
}

.header__button {
    margin-top: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0 27px 64px -16px rgb(255 184 0 / 64%);
    border-radius: 8px;
    padding: 28px 60px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    transition: all .2s ease;
}

.header__button:hover {
    position: relative;
    top: 3px;
}

.button__text {
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
}

.header__button img{
    margin-left: 8px;
    width: 13px;
    height: 16px;
}

.monitoring {
    position: relative;
    padding-top: 107px;
    overflow: hidden;
}

.monitoring__value {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.players{
    font-weight: 900;
    font-size: 42px;
}

.all-players{
    color: rgba(30,29,29,.45);
    font-size: 42px;
}
.start{
    background: url('./mimg/micon/point.svg') calc(50% + 435px) top no-repeat;
    margin-top: 130px;
    padding-bottom: 95px;
    position: relative;
}
.start__main{
    display: flex;
    column-gap: 185px;
}
.left-title {
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 35px;
    line-height: 51px;
}
.left-title span {
    font-weight: 300;
}
.left-text{
    color: rgba(3,3,3,.45);
    font-size: 24px;
    line-height: 29px;
    margin: 32px 0 0;
}
.title-btn{
    margin-top: 64px;
    width: 413px;
    height: 78px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    box-shadow: 0 27px 64px -16px rgb(255 184 0 / 64%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: transform .2s ease;
}
.title-btn:hover{
    position: relative;
    top: 3px;
}
.btn-text{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.start__right {
    margin-top: 106px;
 }
 .screenshot {
    width: 478px;
    height: 249px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    box-shadow: 0 27px 64px -16px rgb(255 184 0 / 64%);
    border-radius: 12px;
    position: relative;
 }
 .screenshot img {
    border-radius: 12px;
    width: 365px;
    height: 240px;
    position: absolute;
    left: 56px;
    top: -36px;
 }
 
 /*-----------news--------------*/
 
 .news {
    margin-top: 85px;
 }
 .news__title {
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 300;
 }
 .news__title span {
    font-weight: 800;
 }
 .news__blocks {
    margin-top: 65px;
 }
 .news-blocks__lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .news__block {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    overflow: hidden;
    transition-property: bottom left;
    transition-duration: 2s 2s;
 }
 .news__block:hover {
    position: relative;
    bottom: 10px;
    right: 10px;
    box-shadow: 8px 15px 0 0 rgba(0,0,0,0.5);
 
 }
 .block__info {
    padding: 20px;
 }
 .block__title{
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 800;
    
    color: #1e1d1d;
    text-align: center;
    margin: 24px 0;
 }
 .block__text {
    font-size: 14px;
    line-height: 17px;
    color: rgba(30,29,29,.7);
    margin-bottom: 24px;
    max-width: 250px;
 }
 .block__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .date {
    font-weight: 600;
    color: rgba(30,29,29,.45);
    font-size: 14px;
    line-height: 17px;
 }
 .more {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
 
 }
 .more a {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 .more img {
    margin-left: 4px;
 }
 
 .more:hover {
    background-color: rgb(216, 216, 216);
 }
 
 /*---------------social-network--------------*/
 
 .social-network {
    margin-top: 180px;
    position: relative;
    padding-bottom: 65px;
 }
 .social-network__title {
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 300;
 }
 .social-network__title span {
    font-weight: 800;
 }
 .social-network__items {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 64px;
    background-color: #fff;
 }
 .social-network__items a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #eee 50% no-repeat;
    position: relative;
    width: 92px;
    height: 92px;
    transition: all .2s ease;
 }
 .social-network__items .instagram{
    background: radial-gradient(137.5% 29.41% at -5.36% 3.57%,#406adc 15.67%,#6a45be 46.78%,rgba(106,69,190,0) 100%),radial-gradient(73.21% 73.21% at 32.14% 103.57%,#e0e8b7 0,#fb8a2e 44.47%,#e2425c 71.47%,rgba(226,66,92,0) 100%),radial-gradient(75% 75% at 35.71% 75%,#b13589 0,#c62f94 79.31%,#8a3ac8 100%);
 }
 .social-network__items .vk {
    background-color: #2789f6;
 }
 .social-network__items .youtube {
    background-color: #fc0d1b
 }
 .social-network__items .tiktok {
    background-color: #000;
 }
 
 .social-network__items .instagram:hover {
    width: 105px;
    height: 105px;
 
    border: 1px solid #000;
    border-color: rgba(198,47,148,.15);
    border-radius: 50%;
 }
 .social-network__items .vk:hover{
    width: 105px;
    height: 105px;
 
    border: 1px solid #000;
    border-radius: 50%;
    border-color: rgba(39,137,246,.15);
 }
 .social-network__items .youtube:hover{
    width: 105px;
    height: 105px;
 
    border: 1px solid #000;
    border-radius: 50%;
    border-color: rgba(252,13,27,.15);
 }
 .social-network__items .tiktok:hover{
    width: 105px;
    height: 105px;
 
    border: 1px solid #000;
    border-radius: 50%;
    border-color: rgba(0,0,0,.15)
 }
 
 
 /*--------------footer--------------*/
 
 .footer {
    display: flex;
    margin-top: 150px;
    height: 80px;
    background-color: #f5f5f5;
    align-items: center;
    width: 100%;
 }
 .footer__wrapper  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
 }
 .footer__logo {
    display: flex;
    align-items: center;
    row-gap: 20px;
 }
 .logo-name {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
 }
 .logo-name span {
    margin-left: 7px;
    font-weight: 300;
 }
 .footer__links {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
 }
 .footer__links a {
    color: rgba(30,29,29,.45);
    font-weight: 600;
    font-size: 13px;  
 }