@import url(../reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;0,900;1,300;1,800&display=swap');


/**/
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.nav{
    width: 100%;
    border: 1px solid rgba(30,29,29,.45);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

.rad-icon {
    display: flex;
    align-items: center;
   font-weight: 800;
   font-style: italic;
   font-size: 19px;
   color: black;
}

.rad-icon span {
    font-weight: 300;
    font-style: italic;
    margin-left: 3px;
}

.nav-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}

.nav-list__link{
    font-size: 16px;
    color: rgba(30,29,29,.45);
    font-weight: 600;
    transition: color .2s ease;
}

.nav-list__link:hover {
    color: rgb(0, 0, 0);
}

.btn{
    background-color: #f2f2f2;
    border-radius: 0.375rem;
    display: inline-block;
    padding: 0.8125rem 1rem;
    font-weight: 600;
}

.header{
    position: relative;
    height: 695px;
}

.header__bg {
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: 1;
}

.header__name {
    display: inline-block;
    text-shadow: 0 27px 64px rgb(225 184 0 / 64%);
    line-height: 78px;
    margin-top: 180px;
    margin-left: 6px;
    text-transform: uppercase;
    font-size: 75px;
    background: linear-gradient(257.5deg, #f96918 -7.46%,#ffb800 74.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-shadow: 0 1.6875rem 4rem rgb(225 184 0 / 64%);
}

.header__description {
    max-width: 40vw;
    font-size: 30px;
    margin-top: 64px;
    line-height: 29px;
    color: rgba(3,3,3,.45);
}

.header__button {
    margin-top: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0 27px 64px -16px rgb(255 184 0 / 64%);
    border-radius: 8px;
    padding: 28px 60px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    transition: all .2s ease;
}

.header__button:hover {
    position: relative;
    top: 3px;
}

.button_text {
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
}

.header__button img{
    margin-left: 8px;
    width: 13px;
    height: 16px;
}

.monitoring {
    position: relative;
    padding-top: 107px;
    overflow: hidden;
}

.monitoring__value {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.palyers{
    font-weight: 900;
    font-size: 42px;
}

.all_players{
    color: rgba(30,29,29,.45);
    font-size: 42px;
}
.start{
    background: url('./mimg/micon/point.svg') calc(50% + 435px) top no-repeat;
    margin-top: 130px;
    padding-bottom: 95px;
    position: relative;
}
.start__main{
    display: flex;
    column-gap: 185px;
}
.left_title {
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 35px;
    line-height: 51px;
}
.left_title span {
    font-weight: 300;
}
.left-text{
    color: rgba(3,3,3,.45);
    font-size: 24px;
    line-height: 29px;
    margin: 32px 0 0;
}
.title_btn{
    margin-top: 64px;
    width: 413px;
    height: 78px;
    background: linear-gradient(257.5deg,#f96918 -7.46%,#ffb800 74.36%);
    box-shadow: 0 27px 64px -16px rgb(255 184 0 / 64%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: transform .2s ease;
}
.title_btn:hover{
    position: relative;
    top: 3px;
}
.btn_text{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}